*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.pokemon-container{
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    text-align: center;
}

.pokemon-container img{
    width: 200px;
}

.pokemon-card{
    background-color: #ffcb05;
    padding: 2rem;
    border-radius: 15px;
    border: solid 5px #375ba9;
    font-weight: 700;
    transition: .5s;
}

.pokemon-card:hover{
    transform: scale(1.1);
}